# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter and Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/build/

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/Flutter/ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/Generated.swift

# Firebase config
**/google-services.json
**/GoogleService-Info.plist

# Env files
.env
.env.*

**/node_modules/

# Firebase CLI cache
**/.firebase/

# Arquivos temporários
*.zip
